<form method="post" action="/login">
  <div>
    <label>Username</label>
    <input type="text" name="username" placeholder="Username" required>

    <label>Password</label>
    <input type="password" name="password" placeholder="Password" required>
  </div>

    <button type="submit">Login</button>
    <p>Not registered? <a href="/register">Register now</a></p>
</form>