<form method="post" action="/login">
  <div>
    <div class="input-group">
      <input type="text" name="username" required>
      <label>Username</label>
    </div>

    <div class="input-group">
      <input type="password" name="password" required>
      <label>Password</label>
    </div>
  </div>

    <button type="submit">Login</button>
    <p>Not registered? <a href="/register">Register now</a></p>
</form>