<form method="post" action="/register">
  <div>
    <label>Name</label>
    <input type="text" name="name" placeholder="Name" required>

    <label>Username</label>
    <input type="text" name="username" placeholder="Username" required>

    <label>Email</label>
    <input type="text" name="email" placeholder="Email" required>

    <label>Password</label>
    <input type="text" name="password" placeholder="Password" required>
    
    <label>Confirm Password</label>
    <input type="text" name="passwordconfirmation" placeholder="Confirm Password" required>
  </div>

    <button type="submit">Register</button>
    <p>Already registered? <a href="/login">Login</a></p>
</form>